---
name: Check

'on':
  push:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/flake-checker-action@v12

      - run: 'nix fmt . -- --check'
      - run: 'nix build .'
      - run: 'nix flake check'
